@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../public/fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../public/fonts/Montserrat-SemiBold.otf");
}


@font-face {
  font-family: "Domine";
  font-weight: 400;
  src: url("../public/fonts/Domine-Regular.ttf");
}

@font-face {
  font-family: "Domine";
  font-weight: 900;
  src: url("../public/fonts/Domine-Bold.ttf");
}

html,
body {
  margin: 0;
}
