.container {
  background-color: #373d3f;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  color: #fff;
  font-size: 5rem;
}
